body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
}

#contactsForm {
    max-width: 400px;
    margin: 0 auto;
}

.btn-dark {
    display: block;
    margin: 20px auto;
}